# Homework  HeroesOfPymoli

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
 # Make a reference to the books.csv file path
csv_path = "Resources/purchase_data.csv"

# Import the purchase_data.csv file as a DataFrame
purchase_data_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
# Count Total Number of Players
unique_player_df = purchase_data_df["SN"].unique()
display_player_count_dict = {"Total Players": len(unique_player_df)}
display_player_count_df = pd.DataFrame(display_player_count_dict, index=[0])
display_player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
unique_item_df = purchase_data_df["Item ID"].unique()
# Average Purchase Price
average_price = purchase_data_df["Price"].mean()
ave_price_formatter = "${:.2f}".format
average_price = ave_price_formatter(average_price)
# Total Number of Purchases
num_of_purchase = purchase_data_df["Purchase ID"].count()
# Total Revenue
total_revenue = purchase_data_df["Price"].sum()
total_revenue_formatter = "${:,.2f}".format
total_revenue = total_revenue_formatter(total_revenue)
# Create a summary data frame to hold the results
purchas_analysis_dict = {
    "Number of Unique Items": len(unique_item_df),
    "Average Price": average_price,
    "Number of Purchases": num_of_purchase,
    "Total Revenue": total_revenue
}
purchas_analysis_df = pd.DataFrame(purchas_analysis_dict, index=[0])
purchas_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [5]:
# Percentage and Count of Total Players
unique_SN_data = purchase_data_df.drop_duplicates(["SN"])
num_of_unique_player = unique_SN_data["SN"].count()
# Percentage and Count of Male Players
male_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Male"]
num_of_male_player = male_player_df["SN"].count()
percent_of_male_player = num_of_male_player/num_of_unique_player*100
# Percentage and Count of Female Players
female_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Female"]
num_of_female_player = female_player_df["SN"].count()
percent_of_female_player = num_of_female_player/num_of_unique_player*100
# Percentage and Count of Other / Non-Disclosed
other_player_df = unique_SN_data.loc[unique_SN_data["Gender"] == "Other / Non-Disclosed"]
num_of_other_player = other_player_df["SN"].count()
percent_of_other_player = num_of_other_player/num_of_unique_player*100
# Create a summary data frame to hold the results
# gender_list = [
#     {"Gender": "Male", "Total Count": num_of_male_player, "Percentage of Players": percent_of_male_player},
#     {"Gender": "Female", "Total Count": num_of_female_player, "Percentage of Players": percent_of_female_player},
#     {"Gender": "Other / Non-Disclosed", "Total Count": num_of_other_player, "Percentage of Players": percent_of_other_player}]
gender_dict = {
    "Total Count": [num_of_male_player, num_of_female_player, num_of_other_player],
    "Percentage of Players": [percent_of_male_player, percent_of_female_player, percent_of_other_player]
}

unique_gender_analysis_df = pd.DataFrame(gender_dict)
# Format the percentage to xx.xx%
unique_gender_analysis_df["Percentage of Players"] = unique_gender_analysis_df["Percentage of Players"].map("{:.2f}%".format)
unique_gender_analysis_df.index = ["Male", "Female", "Other / Non-Disclosed"]
unique_gender_analysis_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [6]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender\
purchase_by_gender_analysis_df = purchase_data_df.loc[:, ["SN", "Gender", "Price"]]
# Calculations on female data
female_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Female"]
female_purchase_count = female_purchase_analysis_df["Gender"].count()
female_purchase_average = female_purchase_analysis_df["Price"].mean()
female_purchase_total_value = female_purchase_analysis_df["Price"].sum()
female_purchase_avgperperson = female_purchase_total_value/num_of_female_player
# Calculations on male data
male_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Male"]
male_purchase_count = male_purchase_analysis_df["Gender"].count()
male_purchase_average = male_purchase_analysis_df["Price"].mean()
male_purchase_total_value = male_purchase_analysis_df["Price"].sum()
male_purchase_avgperperson = male_purchase_total_value/num_of_male_player
# Calculations on other data
other_purchase_analysis_df = purchase_by_gender_analysis_df.loc[purchase_by_gender_analysis_df["Gender"]=="Other / Non-Disclosed"]
other_purchase_count = other_purchase_analysis_df["Gender"].count()
other_purchase_average = other_purchase_analysis_df["Price"].mean()
other_purchase_total_value = other_purchase_analysis_df["Price"].sum()
other_purchase_avgperperson = other_purchase_total_value/num_of_other_player
# Create a summary data frame to hold the results
purchase_analysis_gender_dict = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
    "Average Purchase Price": [female_purchase_average, male_purchase_average, other_purchase_average],
    "Total Purchase Value": [female_purchase_total_value, male_purchase_total_value, other_purchase_total_value],
    "Avg Total Purchase per Person": [female_purchase_avgperperson, male_purchase_avgperperson, other_purchase_avgperperson]
}
purchase_analysis_gender_df = pd.DataFrame(purchase_analysis_gender_dict).set_index("Gender")
# give the displayed data cleaner formatting
purchase_analysis_gender_df["Average Purchase Price"] = purchase_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_gender_df["Total Purchase Value"] = purchase_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_gender_df["Avg Total Purchase per Person"] = purchase_analysis_gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
# Display the summary data frame
purchase_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##  Age Demographics

In [7]:
# Establish bins for ages
# Categorize the existing players using the age bins. 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_SN_data["Age Group"] = pd.cut(unique_SN_data["Age"], age_bins, labels=age_labels)
# Calculate the numbers and percentages by age group
grouped_unique_SN_count = unique_SN_data.groupby("Age Group").count()
grouped_unique_SN_count["Total Count"] = grouped_unique_SN_count["Age"]
grouped_unique_SN_count["Percentage of Players"] = grouped_unique_SN_count["Age"]/len(unique_SN_data)*100
# Create a summary data frame to hold the results
age_demo_df = grouped_unique_SN_count[["Total Count", "Percentage of Players"]]
# round the percentage column to two decimal points
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)
# Display Age Demographics Table
age_demo_df.index = age_labels
age_demo_df

E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Top Spenders

In [8]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table)
new_purchase_data_df = purchase_data_df
groupby_sn_id_df = new_purchase_data_df.groupby(["SN"])
# Run basic calculations to obtain the results in the table below
groupby_sn_id_compare1_df = groupby_sn_id_df.sum()
groupby_sn_id_compare2_df = groupby_sn_id_df.mean()
groupby_sn_id_compare3_df = groupby_sn_id_df.count()
# Sort the total purchase value column in descending order
groupby_sn_id_compare1_sort_df = groupby_sn_id_compare1_df.sort_values("Price", ascending=False)
groupby_sn_id_compare1_sort_df["Purchase Count"] = groupby_sn_id_compare3_df["Price"]
groupby_sn_id_compare1_sort_df["Average Purchase Price"] = groupby_sn_id_compare2_df["Price"]
groupby_sn_id_compare1_sort_df["Total Purchase Value"] = groupby_sn_id_compare1_df["Price"]
# Create a summary data frame to hold the results
top_spender_df = groupby_sn_id_compare1_sort_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
# give the displayed data cleaner formatting
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map("${:,.2f}".format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map("${:,.2f}".format)
# Display a preview of the summary data frame
top_spender_df.head()

E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [9]:
# Identify the 5 most popular items by purchase count, then list (in a table)
# Retrieve the Item ID, Item Name, and Item Price columns
new_purchase_data2_df = purchase_data_df
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
groupby_itemid_df = new_purchase_data2_df.groupby(["Item ID", "Item Name"])
groupby_itemid_compare1_df = groupby_itemid_df.count()
groupby_itemid_compare2_df = groupby_itemid_df.mean()
groupby_itemid_compare3_df = groupby_itemid_df.sum()
# Sort the purchase count column in descending order
groupby_itemid_compare1_sort_df = groupby_itemid_compare1_df.sort_values("Purchase ID", ascending=False)
groupby_itemid_compare1_sort_df["Purchase Count"] = groupby_itemid_compare1_df["Purchase ID"]
groupby_itemid_compare1_sort_df["Item Price"] = groupby_itemid_compare2_df["Price"]
groupby_itemid_compare1_sort_df["Total Purchase Value"] = groupby_itemid_compare3_df["Price"]
# Create a summary data frame to hold the results
most_popular_item_df = groupby_itemid_compare1_sort_df[["Purchase Count", "Item Price", "Total Purchase Value"]]
# give the displayed data cleaner formatting
most_popular_item_df["Item Price"] = most_popular_item_df["Item Price"].map("${:,.2f}".format)
most_popular_item_df["Total Purchase Value"] = most_popular_item_df["Total Purchase Value"].map("${:,.2f}".format)
# Display a preview of the summary data frame
most_popular_item_df.head()

E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [10]:
# Identify the 5 most profitable items by total purchase value, then list (in a table)

# Make a copy of above table
most_profit_item_df = most_popular_item_df
# Remove the dollar sign $ first to change data type from string to float, otherwise sort_values will not work properly
most_profit_item_df["Total Purchase Value"] = most_profit_item_df["Total Purchase Value"].str.replace("$", "")
most_profit_item_df["Total Purchase Value"] = most_profit_item_df["Total Purchase Value"].astype(float)
# Sort the above table by total purchase value in descending order
most_profit_item_df = most_profit_item_df.sort_values("Total Purchase Value", ascending=False)
# give the displayed data cleaner formatting
most_profit_item_df["Total Purchase Value"] = most_profit_item_df["Total Purchase Value"].map("${:,.2f}".format)
# Display a preview of the data frame
most_profit_item_df.head()

E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

E:\ANACONDA3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80